# Publish a docker image on each commit to main
name: Publish a Snapshot

on:
  push:
    branches: [ main ]

jobs:
  snapshot:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
          cache: 'maven'
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: 'Build and push to dockerhub'
        run: ./mvnw -B -ntp -Pjib-multi-arch -Djib.to.tags="latest" package jib:build --file pom.xml
      - run: sha256sum target/*with-deps.jar
      - run: md5sum target/*with-deps.jar
      - name: 'Upload artifact'
        uses: actions/upload-artifact@v3
        with:
          name: planetiler-build
          path: target/*with-deps.jar
